*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F9F5E4;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal
}
.container{
    
    background-color:#E5F8F5;
    max-width: 1000px;
    
    margin: 0 auto;
    padding: 20px;
}

.profile{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.bio{
    float: left;
    padding: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.contact{
    float: right;
    padding: 30px;
}
.contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.contact a:hover{
    text-decoration: underline;
    color: tomato;

}
.clear-div{
    clear: both;
}

hr{
    border: 3px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;

}
footer{
    background-color: black;
    height: 200px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}




.left-div{
    color: #11999e;
    width: 30%;
    float: left;
    
}

.right-div{
    width: 70%;
    float: left;
   
}

.common-hr{
    width: 100%;
    border: black solid 1px;
    border-bottom: none;
    margin: 20px auto;

}
.div-clear{
    clear: both;
}

.right-div1{
    width: 70%;
    float: right;
    margin-top: 20px;
   
}

footer .sayed{
    color: white;
    font-size: 15px;
    padding: 15px ;
    width: 30%;
    float: left;
    border-radius: 10px;
    border: 2px solid rgb(202, 25, 25);
    box-shadow: 0px 0px 3px 0px; 
}
footer input{
    margin: 20px auto;
    padding: 8px;
    border-radius: 5px;
    
    
    
}
input[type="submit"]{
    border-radius: 5px;
}
.div-clear{
    clear: both;
}
.saif2{
    float: right;
    padding: 20px;
}
.saif2 h3:hover{
    color: tomato;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;

}